nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper{
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-content: center;
}

@media only screen and (max-width: 425px){
    nav{
        flex-direction: column;
        justify-content: center;
    }

    .nav-container{
        flex-direction: column;
        width: 100%;
        display: flex;
    }   

    .logo-icon{
        margin-bottom: 14px;
    }
}

.logo-icon{
    height: 48px;
    width: 48px;
    background-image: url(../asset/Logo.png);
    background-size: cover;
    border-radius: 50%;
}

.nav-container {
    display: flex;
}


.nav-item {
    border: 1px solid;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}


.banner-img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.img-1{
    background-image: url(../asset/warship.jpg);
}

.img-2{
    background-image: url(../asset/sonar\ and\ radio.jpeg);
}

.img-3{
    background-image: url(../asset/cruising.jpeg);
}

.profile-container {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.profile-item {
    height: 150px;
    text-align: -webkit-center;
}

.profile-img {
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 100px;
}

.pfl-img-1{
    background-image: url(../asset/blueprint.jpg) ;
}

.pfl-img-2{
    background-image: url(../asset/tactics.jpeg) ;
}

.pfl-img-3{
    background-image: url(../asset/armament.jpg) ;
}

.message-us-container {
    display: flex;
    justify-content: space-around;
}

.form-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 50px;
    display: flex;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="radio"] {
    margin: 0 5px 0 10px;
  }
  
  form label {
    margin-right: 20px;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: blue;
  }
  
  .output-form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .output-form p {
    margin: 10px 0;
  }
  
  .output-form span {
    font-weight: bold;
  }